<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @company_frontpage.company_id %>
</p>

<%= link_to 'Edit', edit_company_frontpage_path(@company_frontpage) %> |
<%= link_to 'Back', company_frontpages_path %>
