// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.home-container{
  height:100vh;
  width: 100vw;
  overflow: hidden;
  background: #333;
  

  .mobile-video{
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 1;
    filter: grayscale(70%)
  }

  .desktop-video{
    max-height: 1080px;
    max-width: 1920px;
    position: relative;
    z-index: 1;
    filter: grayscale(70%);
    
  }

  .welcome{ 
    max-width:500px;
    position:absolute;
    z-index: 2;
    top: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 20px;

    p{
      font-size: 1em;
    }
  }

}

.button-container{
  width: 100%;
  display: flex;
  gap: 20px;
  
  .button-black{
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: 2px solid black;
    text-decoration: none;

    :hover{
      background-color: white;
      color: black;
    }
  }

  .button-red{
    padding: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    border: 2px solid red;
    text-decoration: none;

    :hover{
      background-color: white;
      color: black;
    }
  }
}

.home-footer{
  position:absolute;
  bottom: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: red;
}